extends ./layouts/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros",class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec erat mauris. Curabitur hendrerit at erat in feugiat. Etiam maximus quam nec libero lobortis mattis. Praesent id imperdiet neque, sed fringilla nisl. Donec tincidunt magna erat, at accumsan tellus laoreet sed. Aliquam erat volutpat. Curabitur semper cursus purus quis faucibus. Pellentesque urna turpis, aliquam ac pellentesque id, aliquet porttitor lectus. Integer id magna viverra eros tincidunt consectetur. 

                p Mauris imperdiet felis in fermentum ultricies. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce tempus lacinia ipsum, ut pulvinar orci porttitor non. Donec accumsan turpis risus. Sed tincidunt mi at facilisis congue. Curabitur sit amet iaculis metus. Morbi id suscipit tellus. 

                p Proin elit mauris, volutpat ut interdum nec, vehicula in elit. Etiam ultrices blandit massa, nec volutpat felis eleifend vel. Aenean volutpat odio vel sem iaculis, ut eleifend nulla aliquam. Fusce aliquam risus a magna tempor, et tristique leo porttitor. Phasellus ultricies diam non est auctor, hendrerit convallis metus vehicula.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p  Aenean volutpat odio vel sem iaculis, ut eleifend nulla aliquam. Fusce aliquam risus a magna tempor, et tristique leo porttitor. Phasellus ultricies diam non est auctor, hendrerit convallis metus vehicula.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p  Aenean volutpat odio vel sem iaculis, ut eleifend nulla aliquam. Fusce aliquam risus a magna tempor, et tristique leo porttitor. Phasellus ultricies diam non est auctor, hendrerit convallis metus vehicula.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p  Aenean volutpat odio vel sem iaculis, ut eleifend nulla aliquam. Fusce aliquam risus a magna tempor, et tristique leo porttitor. Phasellus ultricies diam non est auctor, hendrerit convallis metus vehicula.
